# Byte-compiled
__pycache__/
*.py[cod]
*$py.class

# Distribution
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/

# Environment variables
.env

# Google Sheets credentials
credentials.json
token.json

# Pytest
.pytest_cache/
pytest-*

# Editor and OS files
.DS_Store
.vscode/
.idea/

# Dev
.mypy_cache/
.ruff_cache/

# Logs
*.log

# Coverage
.coverage
coverage.xml

# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
