name: Deploy

on:
  push:
    branches: ['main']
  workflow_call:
    inputs:
      image_tag:
        description: 'Docker image tag to deploy'
        required: false
        type: string

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: eu-north-1

jobs:
  deploy:
    runs-on: ubuntu-24.04
    environment: prod

    steps:
      - uses: actions/checkout@v5

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: arn:aws:iam::747683189254:role/deployer
          aws-region: ${{ env.AWS_REGION }}

      - name: Bootstrap
        uses: ./.github/actions/bootstrap

      - name: Test
        run: |
          make check
          make test

      - name: Build and push image
        uses: ./.github/actions/build-push
        with:
          tag: ${{ github.sha }}
          repository: accountant-bot-prod
          push: true
          scan: false

      - name: Apply
        uses: ./.github/actions/terraform
        with:
          directory: infra/env/prod
          apply: true
          plan-comment: false
          image-tag: ${{ inputs.image_tag || github.sha }}
          telegram-bot-token: ${{ secrets.TELEGRAM_BOT_TOKEN }}
