name: Main

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']
    paths-ignore:
      - '*.md'
      - 'LICENSE'

jobs:
  quality:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Bootstrap
        uses: ./.github/actions/bootstrap

      - name: Run checks
        run: make check

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Bootstrap
        uses: ./.github/actions/bootstrap

      - name: Run tests
        shell: bash
        run: make test

      # - name: Upload coverage report
      #   uses: codecov/codecov-action@v5
      #   env:
      #     CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
