name: Validate Terraform

on:
  pull_request:
    branches: ['*']
    paths:
      - 'infra/**'

permissions:
  id-token: write
  pull-requests: write
  contents: read

defaults:
  run:
    shell: bash
    working-directory: infra/env/prod

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.13.5

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: arn:aws:iam::747683189254:role/deployer
          aws-region: eu-north-1

      - name: Init
        run: terraform init

      - name: Format check
        run: terraform fmt -check

      - name: Validate
        run: terraform validate

      - name: Plan
        id: plan
        run: terraform plan -no-color
        continue-on-error: true

      - name: Comment PR
        uses: actions/github-script@v8
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const output = `### Terraform plan \`${{ steps.plan.outcome }}\`

            <details><summary>Show plan</summary>

            \`\`\`terraform
            ${{ steps.plan.outputs.stdout }}
            \`\`\`

            </details>

            *Pusher: @${{ github.actor }}, Action: \`${{ github.event_name }}\`*`;

            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: output
            });
