name: Validate

on:
  pull_request:
    branches: ['*']
    paths-ignore: ['**.md', 'docs/**']

env:
  AWS_REGION: eu-north-1

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/test
        with:
          codecov-token: ${{ secrets.CODECOV_TOKEN }}

  plan:
    runs-on: ubuntu-24.04
    needs: [test]

    permissions:
      id-token: write
      pull-requests: write
      contents: read

    steps:
      - uses: actions/checkout@v6

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: arn:aws:iam::747683189254:role/deployer
          aws-region: ${{ env.AWS_REGION }}

      - name: Plan
        uses: ./.github/actions/terraform
        with:
          directory: infra/env/prod
          plan-comment: true
          apply: false
          telegram-bot-token: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          google-credentials-json: ${{ secrets.GOOGLE_CREDENTIALS_JSON }}
          google-spreadsheet-id: ${{ secrets.GOOGLE_SPREADSHEET_ID }}
